# Google Cloud Storage Settings
GCP_PROJECT_ID=your-project-id
GCP_CLIENT_EMAIL=your-service-account-email@project.iam.gserviceaccount.com
GCP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GCS_BUCKET_NAME=your-bucket-name

# Email Settings (Resend)
RESEND_API_KEY=re_...
CONTACT_TO=your-email@example.com
